<!-- Author: sdy -->
{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
    <div class="post">
        <div class="date">
            {{ post.created_date }}
        </div>
        <h1>
            <!--
                "{% ~ " 는 django 를 이해시키기 위한 코드이고
                url ~ 은 views.py 에 있는 post_detail 과 연동시켜라 라는 의미이며
                post.pk 는 기본키를 의미한다 (primary key)
            -->
            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
        </h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
{% endblock %}